#Tile
{
    font-family: sans-serif;
    color: blue;
    text-align:center;
    height: 100px;
}

.imageBox
{
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    text-align: center;
    height: 10%;
    width: 90%;
}

.imgSize
{

    max-height: 90%;
    max-width: 30%;
}

#foot
{
    max-width: 100%;
    max-height: 30%;
    background-color: gray;
}

#desc
{
    font-family:sans-serif;
}

h1,h2,h3
{
    color: black;
}



li a:link{color:blue}
li a:visited{color:darkblue}
